# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env

# Java
backend/target/
backend/.mvn/

# Node
frontend/node_modules/
frontend/dist/
*.tsbuildinfo

# Logs
*.log

# Docker
**/.docker-cache/
